
body {
    margin: 0;
    background-color: #0d0a55;
    transition: ease background-color 300ms;
}
.area-control {
    width: 100vw;
    height: 100vh;
    margin: 0;
    position: relative;
}

.pointer-indikator {
    display: none;
    width: 30px;
    height: 30px;
    position: absolute;
    top: -15px;
    left: -15px;
    border-radius: 50%;
    background: rgba(100,100,255, 0.5);
}

.area-text {
    max-width: 1000px;
    margin: 0 auto;
    position: absolute;
    top: 0;
    left: 0;
    color: #fff;
    padding: 10px 30px;

    -webkit-user-select: none;  /* Chrome all / Safari all */
    -moz-user-select: none;     /* Firefox all */
    -ms-user-select: none;      /* IE 10+ */
    user-select: none;
}

h1 {
    padding: 0;
    margin: 0 0 10px;
}

.area-config {
    display: none;
}

.area-buttons {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
}

.area-buttons .icon-arrows {
    display: none;
}

.area-buttons button {
    background: none;
    border: none;
    padding: 10px;
    color: rgba(255,255,255,0.4);
    cursor: pointer;
}

.area-buttons button svg {
    fill: rgba(255,255,255,0.4);
}
.area-buttons button:hover svg,
.area-buttons button:focus svg{
    fill: rgba(255,255,255,0.7);
}

.area-config ul {
    padding: 0;
    margin: 0;
    list-style: none;
    border-bottom: solid 1px rgba(255,255,255,0.3);
}

.area-config li {
    padding: 0; margin: 0;
    border-top: solid 1px rgba(255,255,255,0.3);
}

.area-config button {
    background: none;
    border: none;
    padding: 10px;
    color: rgba(255,255,255,0.4);
    width: 100%;
    cursor: pointer;
}
.area-config button:hover,
.area-config button:focus {
    color: rgba(255,255,255,0.7);
}

body.dead {
    background-color: #000;
}